### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
filepath = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(filepath)
purchase_data_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#counts the unique gamertags under "SN"
player_count_df = purchase_data_df["SN"].nunique()

#Creates a dataframe that has the header "Total" displaying the information retrieved from my player count, then visualizes it
total_player_count_df = pd.DataFrame({"Total" : [player_count_df]})
total_player_count_df.head()

   Total
0    576

Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# makes a counter to count each unique item name
item_count_df = purchase_data_df["Item Name"].nunique()
#find the average price of all the items within the CVS 
average_price_df = round(purchase_data_df["Price"].mean(), 2)
#counts the number of purchases by counting the item ID
total_purchase_df = purchase_data_df["Item ID"].count()
#Takes all the Prices in the "Price" column and adds them up
total_revenue_df = purchase_data_df["Price"].sum()
#Creates a summary data frame that includes all the variables above
total_unique_items_df = pd.DataFrame({"Number of Unique Items": [item_count_df], 
                                      "Average Item Price" : f"${average_price_df}", 
                                      "Number of Purchases" : [total_purchase_df],
                                     "Total Revenue" : f"${total_revenue_df}"
                                     })
#prints out the Dat Frame
total_unique_items_df.head()

,Number of Unique Items,Average Item Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Locates male, female and Other / None-Disclosed respectively 
male_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ["SN"] ]  
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", ["SN"] ]                  
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", ["SN"] ]

# Counts the number of unique names using the "SN" column
male_count_df = len(male_df.SN.unique())
female_count_df = len(female_df.SN.unique())
other_count_df = len(other_df.SN.unique())

# Takes the Counts above divide them by the total number of players
# Multiplys it by 100 and rounded to two decimal places to get a percentage for each gender
male_percent_df = round((male_count_df/player_count_df)*100, 2)
female_percent_df = round((female_count_df/player_count_df)*100, 2)
other_percent_df = round((other_count_df/player_count_df)*100, 2)

# Creates a data frame table that compares the genders in player coutn and percentage
percent_table_df = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count" : [(male_count_df), (female_count_df), (other_count_df)],
    "Percentage of Players" : [male_percent_df, female_percent_df, other_percent_df]
    
})
percent_table_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Locates the Gender column and if it is "Male", will add a count to via "Purchase ID"
male_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ["Purchase ID"]]
# Gets the length of the above Dataframe
male_purchase_good_df = len(male_purchase_df)


# Locates the Gender column and if it is "Male", will add a count to via "Price"
male_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ("Price")]
# will take the length of the data fram above and find the average
true_male_average_purchase_good_df = male_average_purchase_df.mean()


# Locates the Gender column and if it is "Male", will add a count to via "Price"
male_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ("Price")]
# will take the length of the data fram above and find the sum of all purchases 
true_male_total_purchase_good_df = male_total_purchase_df.sum()
#true_male_total_purchase_good_df


# MAthematically calculation to finds the average amount spent by each "Male" individual
male_average_spent_per_person_df = true_male_total_purchase_good_df/male_count_df




#Repeats steps above for the "Gender" == "Female" category 

female_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"), ["Purchase ID"]]
female_purchase_good_df = len(female_purchase_df)


female_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"), ("Price")]
true_female_average_purchase_good_df = female_average_purchase_df.mean()


female_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"),("Price") ]
true_female_total_purchase_good_df = female_total_purchase_df.sum()

female_average_spent_per_person_df = true_female_total_purchase_good_df/female_count_df




#Repeats steps above for the "Gender" == "Other / Non-Disclosed" category 

other_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"), ["Purchase ID"]]
other_purchase_good_df = len(other_purchase_df)


other_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"), ("Price")]
true_other_average_purchase_good_df = other_average_purchase_df.mean()


other_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"),("Price") ]
true_other_total_purchase_good_df = other_total_purchase_df.sum()

other_average_spent_per_person_df = true_other_total_purchase_good_df/other_count_df

In [6]:
# Creates a data frame showcasing "Gender", "Purchase Count", "Average Purchase Price"
#"Total Purchase Value" and"Average Total Purchase Per Person"
gender_purchase_table_df = pd.DataFrame({
    "Gender" : ["Male", "Female","Other / Non-Disclosed" ],
    "Purchase Count" : [male_purchase_good_df,female_purchase_good_df, other_purchase_good_df],
    "Average Purchase Price" : [round(true_male_average_purchase_good_df, 2), round(true_female_average_purchase_good_df, 2),
                                round(true_other_average_purchase_good_df, 2) ],
    "Total Purchase Value" : [true_male_total_purchase_good_df, true_female_total_purchase_good_df, 
                              true_other_total_purchase_good_df],
    "Average Total Purchase Per Person" : [round(male_average_spent_per_person_df, 2), round(female_average_spent_per_person_df, 2),
                                          round(other_average_spent_per_person_df, 2)]
})

gender_purchase_table_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Makes a bin for the different age groups
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
# Makes labels corresponding with the age groups above
age_group = ["<10", "10-14", "15-19", "20-24", "25-29",
            "30-34", "35-39", "40+" ]

# Creates another column in the data set for age demographics 
purchase_data_df["Age Demographic"] = pd.cut(purchase_data_df["Age"], age_bins, labels =age_group)

In [10]:
# Creates a dataframe that drops repeated names found in the "SN" column
no_dupes_df = purchase_data_df.drop_duplicates(subset=["SN"])

# Groups the filtered data frame above and groups them to the BIns created in the abvoe cell
age_demos = no_dupes_df.groupby("Age Demographic")
# Gives a count for each indvidual Bin label under the column "Age"
age_range_df = age_demos["Age"].count()

# Gives the percentage of the age gaps in percentages comapred to the all players
age_range_demos_df = round((age_range_df / player_count_df)*100, 2)

# Puts the above information into a dataframe
age_range_and_demo_df = pd.DataFrame({
                                      "Age Count" : age_range_df,
                                     "Age Percentage" : age_range_demos_df})
# Displays teh dataframe 
age_range_and_demo_df

                 Age Count  Age Percentage
Age Demographic
<10                     17            2.95
10-14                   22            3.82
15-19                  107           18.58
20-24                  258           44.79
25-29                   77           13.37
30-34                   52            9.03
35-39                   31            5.38
40+                     12            2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Makes a bin for the different age groups
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
# Makes labels corresponding with the age groups above
age_group = ["<10", "10-14", "15-19", "20-24", "25-29",
            "30-34", "35-39", "40+" ]

# Creates another column in the data set for age demographics 
purchase_data_df["Age Demographic Purchases"] = pd.cut(purchase_data_df["Age"], age_bins, labels =age_group)

In [12]:
# Make a counter for purchase counts for each of the bins
age_analysis_purchase = purchase_data_df.groupby(["Age Demographic Purchases"]).count()["Purchase ID"]
# Find the average purchase spent for each of the bins
age_analysis_purchase_average = purchase_data_df.groupby(["Age Demographic Purchases"]).mean()["Price"]
# Finds the total amount purchased for each bin
age_analysis_purchase_total_price = purchase_data_df.groupby(["Age Demographic Purchases"]).sum()["Price"]

# Finds the average total spent person for each bin
age_analysis_purchase_average_price = age_analysis_purchase_total_price/age_range_df
# Puts the above findings into a data
age_analysis_purchase_df = pd.DataFrame({"Purchase Count" : age_analysis_purchase,
                                         "Average Purchase Price" : age_analysis_purchase_average,
                                         "Total Purchase Value" : age_analysis_purchase_total_price,
                                         "Avg Total Purchase Per Person" : age_analysis_purchase_average_price
                                        })
# displays data in dataframe 
age_analysis_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Demographic Purchases,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Groups dataframe by "SN" and counts how many purchases each unique "SN" has made
top_spenders_count = purchase_data_df.groupby(["SN"]).count()["Purchase ID"]
# Finds the average price each of the Top Spenders paid
top_spenders_average_price = purchase_data_df.groupby(["SN"]).mean()["Price"]
# Finds the total amount paid for each Top Spender
top_spenders_total_price = purchase_data_df.groupby(["SN"]).sum()["Price"]

# Puts the ablove findings intoa dataframe
top_spenders_df = pd.DataFrame({"Purchase Count" : top_spenders_count,
                                         "Average Purchase Price" : top_spenders_average_price,
                                         "Total Purchase Value" : top_spenders_total_price
                                        })

# Displays the top 5 Spenders in the the game 
top_spenders_df.sort_values(by='Purchase Count', ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
most_popular_items_byID = purchase_data_df.groupby(["Item ID"]).count()["Item Name"]

most_popular_items_byID_total = purchase_data_df.groupby(["Item Name"]).sum()["Price"]



most_popular_items_byname = purchase_data_df.groupby(["Item Name"]).count()["Item ID"]

most_popular_items_df = pd.DataFrame ({"Purchase Count" : most_popular_items_byID,
                                      # "Item Price"     : most_popular_items_price,
                                       "Total Purchase Value" : most_popular_items_byID_total 
    
})

popular_item_df = most_popular_items_df.loc[(most_popular_items_df["Item ID"], "Item Name")]

popular_item_df

KeyError: 'Item ID'

In [44]:
most_poular = purchase_data_df.loc[(purchase_data_df["Item ID"]), ["Item Name"]]

most_poular

                                Item Name
108                        Malificent Bag
143                        Venom Claymore
92   Betrayal, Whisper of Grieving Widows
100                                 Dawne
131                           Piece Maker
..                                    ...
60                  Bonecarvin Battle Axe
164           Blood-Forged Skeletal Spine
67         Peacekeeper, Wit of Dark Magic
92   Betrayal, Whisper of Grieving Widows
50                                Amnesia

[780 rows x 1 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame