### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
filepath = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(filepath)
purchase_data_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#counts the unique gamertags under "SN"
player_count_df = purchase_data_df["SN"].nunique()

#Creates a dataframe that has the header "Total" displaying the information retrieved from my player count, then visualizes it
total_player_count_df = pd.DataFrame({"Total" : [player_count_df]})
total_player_count_df.head()

   Total
0    576

Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# makes a counter to count each unique item name
item_count_df = purchase_data_df["Item Name"].nunique()
#find the average price of all the items within the CVS 
average_price_df = round(purchase_data_df["Price"].mean(), 2)
#counts the number of purchases by counting the item ID
total_purchase_df = purchase_data_df["Item ID"].count()
#Takes all the Prices in the "Price" column and adds them up
total_revenue_df = purchase_data_df["Price"].sum()
#Creates a summary data frame that includes all the variables above
total_unique_items_df = pd.DataFrame({"Number of Unique Items": [item_count_df], 
                                      "Average Item Price" : f"${average_price_df}", 
                                      "Number of Purchases" : [total_purchase_df],
                                     "Total Revenue" : f"${total_revenue_df}"
                                     })
#prints out the Dat Frame
total_unique_items_df.head()

,Number of Unique Items,Average Item Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Locates male, female and Other / None-Disclosed respectively 
male_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ["SN"] ]  
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", ["SN"] ]                  
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", ["SN"] ]

# Counts the number of unique names using the "SN" column
male_count_df = len(male_df.SN.unique())
female_count_df = len(female_df.SN.unique())
other_count_df = len(other_df.SN.unique())

# Takes the Counts above divide them by the total number of players
# Multiplys it by 100 and rounded to two decimal places to get a percentage for each gender
male_percent_df = round((male_count_df/player_count_df)*100, 2)
female_percent_df = round((female_count_df/player_count_df)*100, 2)
other_percent_df = round((other_count_df/player_count_df)*100, 2)

# Creates a data frame table that compares the genders in player coutn and percentage
percent_table_df = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count" : [(male_count_df), (female_count_df), (other_count_df)],
    "Percentage of Players" : [male_percent_df, female_percent_df, other_percent_df]
    
})
percent_table_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Locates the Gender column and if it is "Male", will add a count to via "Purchase ID"
male_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ["Purchase ID"]]
# Gets the length of the above Dataframe
male_purchase_good_df = len(male_purchase_df)


# Locates the Gender column and if it is "Male", will add a count to via "Price"
male_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ("Price")]
# will take the length of the data fram above and find the average
true_male_average_purchase_good_df = male_average_purchase_df.mean()


# Locates the Gender column and if it is "Male", will add a count to via "Price"
male_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Male"), ("Price")]
# will take the length of the data fram above and find the sum of all purchases 
true_male_total_purchase_good_df = male_total_purchase_df.sum()
#true_male_total_purchase_good_df


# MAthematically calculation to finds the average amount spent by each "Male" individual
male_average_spent_per_person_df = true_male_total_purchase_good_df/male_count_df




#Repeats steps above for the "Gender" == "Female" category 

female_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"), ["Purchase ID"]]
female_purchase_good_df = len(female_purchase_df)


female_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"), ("Price")]
true_female_average_purchase_good_df = female_average_purchase_df.mean()


female_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Female"),("Price") ]
true_female_total_purchase_good_df = female_total_purchase_df.sum()

female_average_spent_per_person_df = true_female_total_purchase_good_df/female_count_df


#Repeats steps above for the "Gender" == "Other / Non-Disclosed" category 

other_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"), ["Purchase ID"]]
other_purchase_good_df = len(other_purchase_df)


other_average_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"), ("Price")]
true_other_average_purchase_good_df = other_average_purchase_df.mean()


other_total_purchase_df = purchase_data_df.loc[(purchase_data_df["Gender"] == "Other / Non-Disclosed"),("Price") ]
true_other_total_purchase_good_df = other_total_purchase_df.sum()

other_average_spent_per_person_df = true_other_total_purchase_good_df/other_count_df

In [20]:
# Creates a data frame showcasing "Gender", "Purchase Count", "Average Purchase Price"
#"Total Purchase Value" and"Average Total Purchase Per Person"
gender_purchase_table_df = pd.DataFrame({
    "Gender" : ["Male", "Female","Other / Non-Disclosed" ],
    "Purchase Count" : [male_purchase_good_df,female_purchase_good_df, other_purchase_good_df],
    "Average Purchase Price" : [round(true_male_average_purchase_good_df, 2), round(true_female_average_purchase_good_df, 2),
                                round(true_other_average_purchase_good_df, 2) ],
    "Total Purchase Value" : [true_male_total_purchase_good_df, true_female_total_purchase_good_df, 
                              true_other_total_purchase_good_df],
    "Average Total Purchase Per Person" : [round(male_average_spent_per_person_df, 2), round(female_average_spent_per_person_df, 2),
                                          round(other_average_spent_per_person_df, 2)]
})

gender_purchase_table_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame